@model DVD.Web.Models.DVDCopyModel

@{
    ViewData["Title"] = "AddDVDCopy";
    if (ViewData["Error"] != null)
    {
        <script>
                alert("@ViewData["Error"]");
        </script>
    }
}

<h1>Add DVD Copy</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("AddDVDCopy", "DVDCopy", FormMethod.Post, new { @role = "form", @id = "AddDVDCopy" }))
        {
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DVDNumber" class="control-label"></label>
                @Html.DropDownListFor(x => x.DVDNumber,Model.DVDTitleList, new { @class = "form-control" })
                <span asp-validation-for="DVDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePurchased" class="control-label"></label>
                @Html.TextBoxFor(x => x.DatePurchased, new { @type = "date", @class = "form-control", @placeholder = "Date Purchased" })
                <span asp-validation-for="DatePurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-danger">Back to List</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}